/*BASE SETTINGS*/

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

input{
	margin: 1% 50%;
	transform: translateX(-50%);
}

.alignChildren {
    font-size: 0;
	height:90vh;
	width: 80%;
}

.alignChildren *{
    display: inline-block;
    font-size: medium;
    vertical-align: top;

}

#container {
	height:90vh;
	position: relative;
}


#container  *{
	border: 1px solid black;
}



/*Thermomeater Settings*/
.tempContainer {
	width: 30%;
	height: 600px;
	position: absolute;
	margin: auto;
}

.topOfTemp{
	bottom: 100px;
	width: 70px;
	margin: 0, auto;
	position: absolute;

}

	.tempBackDrop {
		margin: 0, auto;
		bottom: 100px;
		height: 200px;
		background-color: grey;
	}

	.fluidObject {
		margin: 0, auto;
		height:80%;
		background-color: red;
	}

.bottomOfTemp{
	height:200px;
	width: 100px;
	position: absolute;
    background: tomato;
    bottom: 0;
	margin-left: 50%;
	transform: translateX(-50%);
	border-radius: 75%;
}

/*DATA CONTENTS*/

#dataContents {
	width: 60%;
	height: 80%;
	position: absolute;
	right: 0;
}

#hed {
	width: 100%;
}

#buttons {
	width: 100%;
}

#weatherData {
	width: 80%;
	margin: 0 auto;
}

