/*BASE SETTINGS*/

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

input{
	margin: 1% 50%;
	transform: translateX(-50%);
}

.alignChildren {
    font-size: 0;
	height:90vh;
	width: 80%;
}

.alignChildren *{
    display: inline-block;
    font-size: medium;
    vertical-align: top;

}

#container {
	height:90vh;
	position: relative;
}


#container  *{
	border: 1px solid black;
}



/*Thermomeater Settings*/
.tempContainer {
	width: 30%;
	height: 600px;
	position: absolute;
	margin: auto;
}

.topOfTemp{
	bottom: 100px;
	width: 70px;
	margin: 0, auto;
	position: absolute;

}

	.tempBackDrop {
		margin: 0, auto;
		bottom: 100px;
		height: 200px;
		background-color: grey;
	}

	.fluidObject {
		margin: 0, auto;
		height:80%;
		background-color: red;
	}

.bottomOfTemp{
	height:200px;
	width: 100px;
	position: absolute;
    background: tomato;
    bottom: 0;
	margin-left: 50%;
	transform: translateX(-50%);
	border-radius: 75%;
}

/*DATA CONTENTS*/

#dataContents {
	width: 60%;
	height: 80%;
	position: absolute;
	right: 0;
}

#hed {
	width: 100%;
}

#buttons {
	width: 100%;	
}

.buttons {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}




#weatherData {
	width: 80%;
	margin: 0 auto;
}





